<!-- Character encoding -->
<meta charset="utf-8">
<!-- SEO Hot spots -->
<title>Mudah Hafal Do'a Qunut | Pilih Aplikasi Termux</title>
<meta name="description" content="book">
<!-- Optimize viewport for mobile -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- Open Graph for optimize your sharing on social networks -->
<meta property="og:type" content="book">
<meta property="og:title" content="book">
<meta property="og:description" content="book">
<meta property="og:url" content="book">
<meta property="og:image" content="book">
<!-- Favicons (ico) -->
<link rel="icon" href="favicon.ico" sizes="any">
<!-- Favicons (svg) 		<link rel="icon" href="favicon.svg" type="image/svg+xml">
<!-- Favicons (png) 		<!-- <link rel="icon" type="image/png" sizes="32x32" href="favicon-32.png">		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16.png"> -->
<!-- Icons for iOS -->
<link rel="apple-touch-icon" href="pwa/icons/apple-touch-icon.png">
<!-- PWA webmanifest -->
<link rel="manifest" href="pwa/app.webmanifest">
<!-- Color themes -->
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
<!-- CSS -->
<link rel="stylesheet" href="assets/css/pwabunga.css">
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="pwa/css/pwabunga-ui.css">
<!-- <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.5.0/styles/night-owl.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.5.0/styles/night-owl.min.css">
<!-- Javascript -->
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.5.0/highlight.min.js"></script>
<script> hljs.initHighlightingOnLoad();</script>	    	
<script async src="assets/js/main.js"></script>
<script async src="assets/js/scripts.js"></script>
<script async src="pwa/js/pwabunga.js"></script>

