/* ----------------------------------------------------------------------------

 ### PWA Bunga! UI

     This CSS file is an example file of styles to format the user 
     interface elements offered by the functions of PWA Bunga! 
     present on the pwabunga.js file.

     Documentation of pwabunga-ui.css
     --------------------------------
     https://pwabunga.com/documentation/pwa/css-ui.html

---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------

 ### PWA Bunga! UI variables

---------------------------------------------------------------------------- */

:root {
  --pwa-color-primary: #5d00d8;
  --pwa-color-primary-opacity: rgba(93, 0, 216, 0.9);
  --pwa-color-secondary: #dfcdf7;
  --pwa-color-secondary-opacity: rgba(223, 205, 247, 0.9);
  --pwa-color-light: #fff;
  --pwa-color-dark: #000;
  --pwa-color-gray: #ccc;
  --pwa-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --z-index-1: 1;
  --z-index-2: 2;
}

/* ----------------------------------------------------------------------------

 ### PWA Bunga! UI Components

---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 ## PWA UI Button
---------------------------------------------------------------------------- */

.pwa-btn {
  background: var(--pwa-color-light);
  border: none;
  border-radius: 20px;
  color: var(--pwa-color-primary);
  display: inline-block;
  padding: 8px 20px;
  text-decoration: none;
  font-weight: bold;
}

.pwa-btn:active, 
.pwa-btn:hover {
  background: var(--pwa-color-secondary);
  color: var(--pwa-color-primary);
}

/* 
 # PWA UI Button primary
------------------------ */

.pwa-btn.pwa-btn-primary {
  background: var(--pwa-color-primary);
  color: var(--pwa-color-light);
}

.pwa-btn.pwa-btn-primary:active, 
.pwa-btn.pwa-btn-primary:hover {
  background: var(--pwa-color-secondary);
  color: var(--pwa-color-primary);
}

/* 
 # PWA UI Button secondary
-------------------------- */

.pwa-btn.pwa-btn-secondary {
  background: var(--pwa-color-secondary);
  color: var(--pwa-color-primary);
}

.pwa-btn.pwa-btn-secondary:active, 
.pwa-btn.pwa-btn-secondary:hover {
  background: var(--pwa-color-primary);
  color: var(--pwa-color-light);
}

/* 
 # PWA UI Button dark
--------------------- */

.pwa-btn.pwa-btn-dark {
  background: var(--pwa-color-dark);
  color: var(--pwa-color-light);
}

.pwa-btn.pwa-btn-dark:active, 
.pwa-btn.pwa-btn-dark:hover {
  background: var(--pwa-color-primary);
  color: var(--pwa-color-light);
}

/* ----------------------------------------------------------------------------
 ## PWA UI Banner
---------------------------------------------------------------------------- */

.pwa-banner {
  align-items: center;
  background: var(--pwa-color-primary);
  color: var(--pwa-color-light);
  display: flex;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(0, -100%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: var(--z-index-2);
}

/* 
 # PWA UI Banner secondary theme
-------------------------------- */

.pwa-banner.pwa-banner-secondary {
  background: var(--pwa-color-secondary);
  color: var(--pwa-color-dark);
}

/* 
 # PWA UI Banner close button
----------------------------- */

.pwa-banner-close-btn {
  cursor: pointer;
  min-width: 32px;
}

/* 
 # PWA UI Banner content
------------------------ */

.pwa-banner-content {
  flex-grow: 1;
  padding: 0 10px;
}

/* 
 # PWA UI Banner title
---------------------- */

.pwa-banner-title {
  display: block;
  font-weight: bold;
}

/* 
 # PWA UI Banner is-visible state
--------------------------------- */

.pwa-banner.is-visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* ----------------------------------------------------------------------------
 ## PWA UI Banner to Snackbar (desktop)
---------------------------------------------------------------------------- */

@media only screen and (min-width : 1024px) {

  .pwa-banner.to-pwa-snackbar {
    border-radius: 10px;
    bottom: 20px;
    height: 100px;
    left: 20px;
    max-width: 400px;
    padding: 0 20px;
    right: auto;
    top: auto;
    transform: translate(calc(-100% - 20px), 0);
  }

  /* 
   # PWA UI Snackbar top left
  --------------------------- */

  .pwa-banner.to-pwa-snackbar.top-left {
    bottom: auto;
    left: 20px;
    right: auto;
    top: 20px;
  }

  /* 
   # PWA UI Snackbar top right
  ---------------------------- */

  .pwa-banner.to-pwa-snackbar.top-right {
    bottom: auto;
    left: auto;
    right: 20px;
    top: 20px;
    transform: translate(0, calc(-100% - 20px));
  }

  /* 
   # PWA UI Snackbar bottom left
  ------------------------------ */

  .pwa-banner.to-pwa-snackbar.bottom-left {
    bottom: 20px;
    left: 20px;
    right: auto;
    top: auto;
  }

  /* 
   # PWA UI Snackbar bottom right
  ------------------------------- */

  .pwa-banner.to-pwa-snackbar.bottom-right {
    bottom: 20px;
    left: auto;
    right: 20px;
    top: auto;
    transform: translate(0, calc(100% + 20px));
  }

}

/* 
 # PWA UI Banner to Snackbar is-visible state
--------------------------------------------- */

.pwa-banner.to-pwa-snackbar.is-visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* ----------------------------------------------------------------------------
 ## PWA UI Modal
---------------------------------------------------------------------------- */

.pwa-modal {
  align-items: center;
  background: var(--pwa-color-light);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.25s ease-in-out;
  width: 100%;
  z-index: var(--z-index-2);
}

@media only screen and (min-width : 1024px) {
  .pwa-modal {
    background: var(--pwa-color-primary-opacity);
  }
}

/* 
 # PWA UI Modal inner
--------------------- */

.pwa-modal-inner {
  padding: 0 20px;
}

@media only screen and (min-width : 1024px) {
  .pwa-modal-inner {
    padding: 20px;
    background: #fff;
    position: relative;
    border-radius: 20px;
  }
}

/* 
 # PWA UI Modal title
--------------------- */

.pwa-modal-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 0;
}

/* 
 # PWA UI Modal close button
---------------------------- */

.pwa-modal-close {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* 
 # PWA UI Modal close btn icon
------------------------------ */

.pwa-modal-close-icon {
  fill: var(--pwa-color-primary);
  width: 40px;
}

/* 
 # PWA UI Modal is-visible state
-------------------------------- */

.pwa-modal.is-visible {
  transform: translateY(0);
}

/* ----------------------------------------------------------------------------
 ## PWA UI Switch
---------------------------------------------------------------------------- */

.pwa-switch {
  background: none;
  border: none;
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

/* 
 # PWA UI Switch slider
----------------------- */

.pwa-switch-slider {
  background-color: var(--pwa-color-gray);
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  height: 34px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  width: 60px;
}

.pwa-switch-slider::before {
  background-color: var(--pwa-color-light);
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

/* 
 # PWA UI Switch slider is-active state
------------------------------------ */

.is-active .pwa-switch-slider {
  background-color: var(--pwa-color-primary);
}

.is-active .pwa-switch-slider::before {
  transform: translateX(26px);
}

/* ----------------------------------------------------------------------------
 ## PWA UI Alert
---------------------------------------------------------------------------- */

.pwa-alert {
  align-items: center;
  background-color: var(--pwa-color-secondary-opacity);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.25s ease-in-out;
  width: 100%;
  z-index: var(--z-index-2);
}

/* 
 # PWA UI Alert inner
--------------------- */

.pwa-alert-inner {
  background: #fff;
  border-radius: 20px;
  box-shadow: var(--pwa-box-shadow);
  max-width: 320px;
  padding: 20px;
  text-align: center;
}

/* 
 # PWA UI Alert is-visible state
-------------------------------- */

.pwa-alert.is-visible {
  transform: translateY(0);
}

/* ----------------------------------------------------------------------------
 ## PWA UI Loader
---------------------------------------------------------------------------- */

.pwa-loader {
  align-items: center;
  background-color: var(--pwa-color-primary-opacity);
  display: none;
  justify-content: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--z-index-2);
}

/* 
 # PWA UI Loader is-visible state
--------------------------------- */

.pwa-loader.is-visible {
  display: flex;
}

/* ----------------------------------------------------------------------------
 ## PWA UI Actions bar
---------------------------------------------------------------------------- */

.pwa-actions {
  background: var(--pwa-color-light);
  display: flex;
  padding: 10px 0 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-index-1);
}

/* 
 # PWA UI Actions bar button
---------------------------- */

.pwa-actions-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  margin-right: 20px;
}

/* 
 # PWA UI Actions bar button icon
--------------------------------- */

.pwa-actions-icon {
  display: flex;
  fill: var(--pwa-color-primary);
  flex-direction: column;
  margin: 0 auto;
  width: 32px;
}

/* ----------------------------------------------------------------------------
 ## PWA UI Params Version (@for pwaParams() function)
---------------------------------------------------------------------------- */

.pwa-params-version {
  margin-bottom: 50px;
}

/* ----------------------------------------------------------------------------
 ## PWA UI Params Permissions (@for pwaParams() function)
---------------------------------------------------------------------------- */

.pwa-permission-item {
  align-items: center; 
  display: flex;
  margin-bottom: 20px;
}

.pwa-permission-item-label {
  display: block;
  margin-left: 10px;
}

/* ----------------------------------------------------------------------------

 ### PWA Bunga! UI functions core

---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 ## PWA Install button (@for pwaInstall() function)
---------------------------------------------------------------------------- */

.pwa-install-btn {
  display: none;
}

.pwa-install-btn.is-visible {
  display: block;
}

/* ----------------------------------------------------------------------------
 ## PWA Share button (@for pwaShare() function)
---------------------------------------------------------------------------- */

.pwa-share-btn {
  display: none;
}

.pwa-share-btn.is-visible {
  display: block;
}

/* ----------------------------------------------------------------------------
 ## PWA UI Params (@for pwaParams() function)
---------------------------------------------------------------------------- */

.pwa-params-version,
.pwa-params-permission-notification,
.pwa-params-permission-geolocation,
.pwa-params-permission,
.pwa-params-btn {
  display: none;
}

.pwa-params-version.is-visible,
.pwa-params-permission.is-visible,
.pwa-params-btn.is-visible {
  display: block;
}

.pwa-params-permission-notification.is-visible,
.pwa-params-permission-geolocation.is-visible {
  display: flex;
}